//--// Base Start //--//
//** -- header ** --//
.header {
    // absolute //
    &#header-absolute,
    &#header-relative {
        &.secondary-inverse {
            .box-logo {
                svg {
                    fill: var(--secondary-inverse-foreground-d);
                }   
            }
            
            [class*="call-"] {
                .icon {
                     color: var(--secondary-inverse-foreground-d);
                }
            }

            //-- display --//
            &.complete {
                @include for-desktop-up {
                    .menu-main {
                        ul {
                            li {
                                a {
                                    color: var(--secondary-inverse-link-c);

                                }
                            }  
                        }
                    }
                    
                    .menu-pre-header {
                        ul {
                            li {
                                a {
                                    color: var(--secondary-inverse-link-c);

                                }
                            }  
                        }
                    }

                    //-- display --//
                    .menu-main {
                        ul {
                            .sub-menu {
                                background-color: var(--secondary-inverse-link-c);
                                @include border-box(var(--secondary-inverse-shadow-a));

                                > li {
                                    &+li {
                                        a {
                                            &:before {
                                                background-color: var(--secondary-inverse-link-b);
                                            }
                                        }
                                    } 

                                    a {
                                       color: var(--secondary-inverse-foreground-e);
                                    }
                                }

                                &:after {
                                    border-bottom-color: var(--secondary-inverse-link-c);
                                }
                            }
                        }
                    }
                    //-- display --//
                    
                    //-- separator --//
                    .menu-main {
                        &.separator-default {
                            ul {
                                > li {
                                    &+li {
                                        &:before {
                                            background-color: var(--secondary-inverse-border-a);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .hold-pre-header {
                        [class^="menu-"] {
                            &.separator-default {
                                ul {
                                    > li {
                                        &+li {
                                            &:before {
                                                background-color: var(--secondary-inverse-border-b);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    //-- separator --//
                }
            }
            //-- display --//
        }
    }
    // absolute //
    
    // relative //
    &#header-relative {
         &.secondary-inverse {
            background: var(--secondary-inverse-background-a);
         }
    }
    // relative //   
}
//** -- header ** --//
//--// Base End //--//

//--// Widgets Start //--//
//** -- base -- **//
[class^="widget-"] {
    &.secondary-inverse {
        &, p, a, ul, ol {
            color: var(--secondary-inverse-foreground-a);
        }
        
        .hold {
            //background-color: var(--secondary-inverse-background-b);
            @include red-gradient-bg();
        }
        
        .box-headline {
            .h1,
            .h2,
            .h3 {
                color: var(--secondary-inverse-foreground-b);
            }
        }
        
        .box-notice {
            p {
                color: var(--secondary-inverse-foreground-c);
            }
        }
        
        .custom-background {
			//@include red-gradient-bg();
        }
        
        ::selection {
            color: var(--secondary-inverse-background-a);
            background-color: var(--secondary-inverse-foreground-a);
        }

        ::-moz-selection {
            color: var(--secondary-inverse-background-a);
            background-color: var(--secondary-inverse-foreground-a);
        }
    }
}
//** -- base -- **//

//** -- article -- **//
.widget-article {    
    &.secondary-inverse {
		.hold {
			//@include red-gradient-bg();
		}
		
        .box-text {
            p, ul, ol {
                a:not(.button) {
                    color: var(--secondary-inverse-link-f);
                }
            }
        }
        
        .box-image,
        .box-embed {
            [class^="hold-"] {
                @include border-box(var(--secondary-inverse-shadow-a));
            }
        }
    }
}
//** -- article -- **//

//** -- feed -- **//
.widget-feed {
    &.secondary-inverse {
		.hold {
			//@include red-gradient-bg();
		}
		
        .hold-feed {
            //-- carousel --//
            &.carousel {
                .flickity-prev-next-button {
                    .arrow {
                        fill: var(--secondary-inverse-link-c);
                    }
                }
				
				.hold-icon {
					padding-bottom: 33%; 
				}
            }
            //-- carousel --//
            
            //-- accordion --// 
            &.accordion {
                @include border-box(var(--secondary-inverse-shadow-a));
            }
            //-- accordion --// 
            
            //--  timeline --//
            &.timeline {
                .timeline-box {
                    .card {
                        &:after {
                            @include for-phone-only {
                                border-right-color: var(--secondary-inverse-background-a);
                            }
                        }
                    }
                    
                    @include for-tablet-up {
                        &:nth-child(odd) {
                            .card {
                                &:after {
                                    border-left-color: var(--secondary-inverse-background-a);
                                }
                            }
                        }

                        &:nth-child(even) {
                            .card {
                                &:after {
                                    border-right-color: var(--secondary-inverse-background-a);
                                }
                            }
                        }
                    }
                }
                
                &:after {
                    background-color: var(--secondary-inverse-foreground-a);
                }
            }
            //--  timeline --// 
        }
    }
}
//** -- feed -- **//

//** -- form -- **//
.widget-form {
    &.secondary-inverse {
        background-color: var(--secondary-inverse-background-b);
    }
}
//** -- form -- **//

//** -- footer -- **//
.widget-footer {
    &.secondary-inverse {
        .hold {
			background: var(--secondary-inverse-background-a) !important;
		}
        
        .box-logo {
            svg {
                fill: var(--secondary-inverse-foreground-d);
            }
        }
        
        //-- menu colors --//
        .hold-menu {
            [class^="menu-"] {
                ul {
                    li {
                        &, a {
                            color: var(--secondary-inverse-link-d);
                        }
                    }
                }
            }
        }
        
        .hold-footer {
            .menu-institutional {
                ul {
                    li {
                        &, a {
                            color: var(--secondary-inverse-link-e);
                        }
                    }
                }
            }
        }
        //-- menu colors --//
        
        //-- separator --//
        // hold footer //
        .hold-footer {
            .menu-institutional {
                &.separator-default {
                    ul {
                        > li {
                            &+li:not(.credit) {
                                &:before {
                                    background-color: var(--secondary-inverse-link-e);
                                }
                            }
                        }
                    }
                }
            }
        }
        // hold footer //
    
        // hold menu //
        &.horizontal,
        &.vertical {
            .hold-menu {
                [class^="menu-"] {
                    &.separator-default {
                        ul {
                            > li {
                                &:before {
                                    background-color: var(--secondary-inverse-border-a);
                                }
                            }
                        }
                    }
                }
            }
        }
        // hold menu //
        //-- separator --//
    }
}
//** -- footer -- **//

//** -- gallery -- **//
.widget-gallery {
    &.secondary-inverse {
        .hold-gallery {
            .item {
                &.default {
                    img {
                        @include border-box(var(--secondary-inverse-shadow-a));
                    }
                }
            }
        } 
    }
}
//** -- gallery -- **//

//** -- slideshow -- **//
.widget-slideshow {
    &.secondary-inverse {
        .item {
            .box-image,
            .box-video {
                background-color: var(--secondary-inverse-background-b);
            }
        }
        
        .flickity-prev-next-button {
            .arrow {
                fill: var(--secondary-inverse-link-c);
            }
        }
    }
}
//** -- slideshow -- **//
//--// Widgets End //--//

//--// Components Start //--//
//** -- announcement bar -- ** //
.announcement-bar {
    &.secondary-inverse {
        background: var(--secondary-inverse-background-a);
        
        [class^="text-"] {
            &, a {
                color: var(--secondary-inverse-foreground-a);
            }
        }
        
        ::selection {
            color: var(--secondary-inverse-background-a);
            background-color: var(--secondary-inverse-foreground-a);
        }

        ::-moz-selection {
            color: var(--secondary-inverse-background-a);
            background-color: var(--secondary-inverse-foreground-a);
        }
    }
}
//** -- announcement bar -- ** //

//** -- accordion -- **//
[class^="widget-"] {
    &.secondary-inverse {
        .item-accordion {
            .title-accordion {
                color: var(--secondary-inverse-link-b);
                background: var(--secondary-inverse-link-a);

                .button-accordion {
                    color: var(--secondary-inverse-link-b);
                }
            }

            .content-accordion {
                .hold-accordion {
                    background: var(--secondary-inverse-background-e);
                    
                    .box-text {
                        &, p {
                            color: var(--secondary-inverse-foreground-f);
                        }
                        
                        p {
                            a:not(.button) {
                                color: var(--secondary-inverse-link-f);
                            }
                        }
                    }

                    .box-icon {
                        color: var(--secondary-inverse-foreground-f);
                        background: var(--secondary-inverse-background-d); 
                    }
                }
            }
        }
    }
}
//** -- accordion -- **//

//** -- button -- **//
[class^="header"],
[class^="widget-"],
.announcement-bar {
    &.secondary-inverse {
        .button {
            &.default {
                color: var(--secondary-inverse-link-g);
                background-color: var(--secondary-inverse-link-c);
                
                //@include border-box(var(--secondary-inverse-shadow-a));
            }
            
            &.line {
                color: var(--secondary-inverse-link-c);
                border-color: var(--secondary-inverse-link-c);
                
                //@include border-box(var(--secondary-inverse-shadow-a));
            }
            
            &.clean {
                color: var(--secondary-inverse-link-c);
            }
            
            &.title {
                color: var(--secondary-inverse-foreground-c);
            }
        }
    }
}
//** -- button -- **//

//** -- card --**//
[class^="widget-"] {
    &.secondary-inverse {
        .card {
            &.default {
                .hold-card {
                    //background: var(--secondary-inverse-background-c); 
                    @include glass-box-light();
                    @include border-box(var(--secondary-inverse-shadow-a));
                }
                
                .box-text {
                    &, p {
                        color: var(--secondary-inverse-foreground-e);
                    }
                    
                    p {
                        a:not(.button) {
                            color: var(--secondary-inverse-link-f);
                        }
                    }
                    
                    .box-headline {
                        [class^="h"] {
                            color: var(--secondary-inverse-foreground-a);
                        }
                    }
                    
                    .box-info {
                        border-top-color: var(--secondary-inverse-border-b);
                    }
                }

                .box-image,
                .box-icon {
                    &, a {
                        color: var(--secondary-inverse-foreground-f);
                    }

                    background: var(--secondary-inverse-background-d);
                }
            }

            &.line {
                .hold-card {
                    border-color: var(--secondary-inverse-foreground-a);
                    @include border-box(var(--secondary-inverse-shadow-a));
                }
                
                .box-text {
                    &, p, a:not(.button) {
                        color: var(--secondary-inverse-foreground-a);
                    }
                    
                    .box-headline {
                        [class^="h"] {
                            color: var(--secondary-inverse-foreground-a);
                        }
                    }
                    
                    .box-info {
                        border-top-color: var(--secondary-inverse-foreground-a);
                    }
                }

                .box-image,
                .box-icon {
                    &, a {
                        color: var(--secondary-inverse-foreground-a);
                    }

                    border-color: var(--secondary-inverse-foreground-a);
                }
            }
            
            &.transparent,
            &.clean {
                .box-text {
                    &, p, a:not(.button) {
                        color: var(--secondary-inverse-foreground-a);
                    }
                    
                    .box-headline {
                        [class^="h"] {
                            color: var(--secondary-inverse-foreground-a);
                        }
                    }
                    
                    .box-info {
                        border-top-color: var(--secondary-inverse-foreground-a);
                    }
                }
            }
            
            &.transparent {
                .box-image,
                .box-icon {
                    &, a {
                        color: var(--secondary-inverse-foreground-f);
                    }

                    //background-color: var(--secondary-inverse-background-d);
                    
                    
                    @include glass-box-light();
                    @include border-box(var(--secondary-inverse-shadow-a));
                }
            }
            
            &.clean {
                .box-image,
                .box-icon {
                    &, a {
                        color: var(--secondary-inverse-foreground-a);
                    }
                }
            }
        }
    }
}
//** -- card --**//

//** -- search -- **//
[class^="widget-"] {
    &.secondary-inverse {
        .search-form {
            border-color: var(--secondary-inverse-foreground-a);
            @include border-box(var(--secondary-inverse-shadow-a));

            ::placeholder {
              color: var(--secondary-inverse-foreground-a);
            }

            :-ms-input-placeholder {
              color: var(--secondary-inverse-foreground-a);
            }

            ::-ms-input-placeholder {
              color: var(--secondary-inverse-foreground-a);
            }

            .field,
            .submit {
                color: var(--secondary-inverse-foreground-a);
            }

            .submit {
                border-color: var(--secondary-inverse-foreground-a);
            }
        }
    }
}
//** -- search -- **//

//** -- sidebar -- ** //
[class^="widget-"] {
    &.secondary-inverse {
        .item-sidebar {
			border: none;
			
            &:not(.clean) {
                //border-color: var(--secondary-inverse-foreground-a);
                //@include border-box(var(--secondary-inverse-shadow-a));
            }
            
            .title-sidebar {
                //border-bottom-color: var(--secondary-inverse-foreground-a);
				border-bottom: none;
            } 
			
			.content-sidebar {
				padding: 0 $button-padding;
				color: var(--secondary-inverse-link-f);
				p, a {
					color: var(--secondary-inverse-link-f);
				}
			}

            .list-sidebar {
                li {
                    &+li {
                        border-top-color: var(--secondary-inverse-foreground-a);
                    }
                }
            }
        }
    }
}
//** -- sidebar -- ** //
//--// Components End //--//


//--// Contact Form 7 //--//
#contact-form {
	&.secondary-inverse {
		.form-area input,
		.form-area select,
		.form-text textarea,
		.form-quiz input {
			border-color: var(--secondary-inverse-foreground-a);
			background-color: transparent;
			@include border-box(var(--secondary-inverse-shadow-a));
		}
	}
}

.widget-form {
	&.secondary-inverse {
		.hold {
			.box-headline{
				margin-bottom: calc(#{$margin-size-v} * 1.5);
			}
			.box-layout {
				.form-button {
					.wpcf7-submit {
						color: var(--secondary-inverse-link-b)!important;
						background-color: var(--secondary-inverse-link-a)!important;
					}
				}
			}
		}
	}
}
//--// Contact Form 7 //--//


//--// Shop //--//
.header {
    // absolute //
    &#header-absolute,
    &#header-relative {
        &.secondary-inverse {
            .css-ooolli-counterCSS-customCounterCSS-CartCounter {
                color: var(--secondary-inverse-foreground-d);
                background-color: var(--secondary-inverse-link-b);
            }
            
            .css-1fwczv2-IconCSS-svgCSS-CartIcon {
                &, 
                .css-12z200q-pathCSS {
                    color: var(--secondary-inverse-foreground-d);
                    fill: var(--secondary-inverse-foreground-d);
                }
            }
        }
    }
}
//--// Shop //--//